<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" type="text/css" href="./static/styles.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="./static/main.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<style>
    main{
        margin-top: 20px;
        background-color: #ffffff;
    }
    input{
        margin:20px;
        border: 2px solid black;
    }
</style>

 </head>


<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <i class="fas fa-swimmer"></i>
</div>

<input id="myInput" type="text" placeholder="Filter by Video Title..">

<div class = "container">

    <main>




    </main>

</div>
</body>
</html>